#player {
    display: none;
}

.youtube-player {
    max-height: 550px;
    justify-content: space-between;
}

.ambience-tracks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.selected {
    background-color: rgb(49, 35, 59);
    color: rgb(175, 175, 175);
    box-shadow: 0px 0px 8px rgb(110, 73, 136);
}

.player-controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.player-controls i {
    text-align: center;
}
